.floatLeft {
	width:33%;
	height:500px;
	line-height: 500px;
	font-size: 26px;
	float: left;
	background-color: blue;
	text-align: center;
}
.floatRight {
	width:33%;
	height:500px;
	line-height: 500px;
	font-size: 26px;
	float: right;
	background-color: red;
	text-align: center;
}
.completed {text-decoration: line-through;}